
    <div class="card">
        <form [formGroup]="recipeForm"
              (ngSubmit)="onSubmit()"
              class="form-horizontal">

            <div class="grid">
                <div class="col"
                     style="margin: 30px 10px 30px 30px">
                    <label for="name">Name</label>
                    <input type="text"
                           id="name"
                           class="form-control"
                           formControlName="name"
                           style="margin-bottom: 30px;">
    
                    <label for="imagePath">Image URL</label>
                    <input type="text"
                           id="imagePath"
                           class="form-control"
                           formControlName="imagePath"
                           #imagePath
                           style="margin-bottom: 30px;">
    
                    <img [hidden]="!editMode" [src]="imagePath.value"
                         class="img-thumbnail"
                         style="height: 260px; width: 100%;">
                </div>

                <div class="col"
                     style="margin: 30px 30px 30px 10px;">
                    <label for="ingredients">Ingredients</label>
                    <div id="ingredients" formArrayName="ingredients"
                         style="margin-bottom: 30px;">

                        <div *ngFor="let ingredientCtrl of ingredientData.controls; let i = index;"
                             [formGroupName]="i"
                             style="margin-bottom: 10px;">

                            <div class="input-group">
                                <input type="text"
                                       class="form-control"
                                       formControlName="name"
                                       placeholder="Name">
                                <input type="number"
                                       class="form-control"
                                       formControlName="amount"
                                       placeholder="Amount">

                                <div class="input-group-append"
                                     style="padding-left: 0px;">
                                    <button class="btn btn-danger"
                                            type="button"
                                            style="padding-left: 15px; padding-right: 15px;"
                                            (click)="onDeleteIngredient(i)">X</button>
                                </div>
                            </div>
                        </div>

                    </div>


                    <label for="description">Description</label>
                    <textarea type="text"
                              id="description"
                              class="form-control"
                              rows="4"
                              formControlName="description"></textarea>
                </div>
            </div>
        </form>
    </div>

