<div class="grid">
    <div class="col">
        <div class="grid-column">
            <div class="col-12">
                <img [src]="recipe.imagePath"
                     alt="{{ recipe.name }}">
            </div>
            <div class="col-12">
                <h4>{{ recipe.name }}</h4>
                <p class="text-muted">{{ recipe.description }}</p>
            </div>
        </div>


    </div>

    <div class="col">
        <ul class="list-group">
            <li class="list-group-item"
                *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.name }} - {{ ingredient.amount }}
            </li>
        </ul>
        <div class="card-body">
            <div class="btn-group"
                 appDropdown>

                <button class="btn btn-primary dropdown-toggle">
                    Manage Recipe
                    <span class="caret"></span>
                </button>

                <div class="dropdown-menu">
                    <a class="dropdown-item"
                       (click)="onAddToShoppingList()"
                       style="cursor: pointer">Add Ingredients to List</a>

                    <a class="dropdown-item"
                       (click)="onEditRecipe()"
                       style="cursor: pointer">Edit Recipe</a>

                    <a class="dropdown-item"
                       (click)="onDeleteRecipe()"
                       style="cursor: pointer">Delete Recipe</a>
                </div>
            </div>
        </div>
    </div>

</div>
<br>
<br>