<div class="row">

    <!-- This is child to parent data binding (event binding) -->
    <div class="col-5">
        <!-- Store the selected recipe once it has been selected
             Initially undefined which is why we need to set selectedRecipe
             to $event because it is set when event is triggered-->

        <!-- Could have been moved into a method but it's a bit short for that -->
        <app-recipe-list></app-recipe-list>
    </div>

    <!-- This is parent to child data binding (property binding) -->
    <div class="col-7">
        <router-outlet></router-outlet>
    </div>
</div>