<!-- AppComponent is the parent component -->

<!-- Parent Component is listening for the features selected event and then
it will execute the onNavigate() function call -->

<!-- $event refers to the event data of the selected feature -->
<app-header (featureSelected)="onNavigate($event)"></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <!-- Only one of these components should be shown at at time -->
            <!-- Use *ngIf directive to determine the visible component based on the value of loadedFeature -->
            <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
            <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>
        </div>
    </div>
</div>