<nav class="navbar navbar-light bg-light navbar-expand-md">
    <a *ngIf="!getTokenInput()"
       routerLink="/"
       class="navbar-brand">Recipe Book</a>

    <a *ngIf="getTokenInput()" routerLink="/recipes"
       class="navbar-brand">Recipe Book</a>


    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-between"
         id="navbarNav">
        <ul class="navbar-nav">
            <!-- Clicking a link below will trigger the onSelect() function -->
            <li class="nav-item"
                routerLinkActive="active">
                <a class="nav-link"
                   routerLink="/recipes">Recipes</a>
            </li>
            <li class="nav-item"
                routerLinkActive="active">
                <a class="nav-link"
                   routerLink="/shopping-list">Shopping List</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <!-- Add dropdown directive to this li tag -->
            <li class="nav-item dropdown"
                appDropdown
                *ngIf="getTokenInput()"
                style="cursor: pointer;">
                <a class="nav-link dropdown-toggle"
                   role="button">Manage
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu"
                    style="margin: 10px;">
                    <li style="cursor: pointer"
                        class="dropdown-item">
                        <a (click)="onSaveData()">Save Data</a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li style="cursor: pointer"
                        class="dropdown-item">
                        <a (click)="onFetchData()">Fetch Data</a>
                    </li>
                </ul>
            </li>

            <ng-template [ngIf]="!getTokenInput()">
                <li class="nav-item">
                    <a class="nav-link"
                       routerLink="/signup">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       routerLink="/signin">Login</a>
                </li>
            </ng-template>

            <li class="nav-item">
                <a style="cursor: pointer;"
                   (click)="onLogout()"
                   class="nav-link"
                   *ngIf="getTokenInput()">Logout</a>
        </ul>
    </div>
</nav>
