<div class="grid">
    <div class="col-4"
         data-push-left="off-4"
         data-push-right="off-4">
        <!-- Form contains the panel elements to use default styling -->
        <form (ngSubmit)="onSignin(form)"
              #form="ngForm"
              class="form-horizontal">

            <div class="card text-left">
                <div class="card-header bg-primary text-white">
                    <h3 class="my-0">Login Form</h3>
                </div>

                <div class="card-body text-left">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control"
                               type="email"
                               required
                               name="email"
                               id="email"
                               autocomplete="user-email"
                               ngModel />
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password"
                               name="password"
                               id="password"
                               class="form-control"
                               password
                               required
                               autocomplete="user-password"
                               ngModel>
                    </div>
                </div>

                <div class="card-footer text-left">
                    <button class="btn btn-primary"
                            type="submit"
                            [disabled]="!form.valid">Submit</button>
                    <button class="btn btn-default"
                            type="button"
                            (click)="form.reset()">Clear</button>

                </div>
            </div>

        </form>
    </div>
</div>